﻿@model PocWebApplication.Models.newRule

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Rule</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/corev15.css">
     <style>
         th {
    font-size:x-large;
    color:white;
      border-bottom: 1px solid #ddd;
      text-align:left;
     font-family:'Arial';
      font-weight:400;
      background-color:rgba(0, 121, 161, .9);

}
td {
     font-size:x-large;
     text-align:left;
     border-bottom: 1px solid #ddd;
     font-family:'Arial';
     color:rgba(0, 121, 161, .9);
}
         table { background-color:#fff;
         }
     </style>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function _add() {
    
            var value = document.querySelector("#val");
            var sc = document.querySelector("#score");
            value.parentNode.appendChild(value.cloneNode(true));
            
            sc.parentNode.appendChild(sc.cloneNode(true));
 

        }


        function _remove() {
            document.getElementById("result").textContent = "";
          
        }

    </script>
</head>

<body>
    <header class="panel1" id="hder">

        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <img src="~/img/logo1.svg" class="img-resposnive" alt="logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="heading-part">
                        <h1>Policy Administration System</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="logo1">
            <img src="./img/logo-2.jpg" class="img-resposnive" alt="logo">
        </div> -->
        <!-- <div class="logo">
            <img src="./img/logo.svg" class="img-resposnive" alt="logo">
        </div> -->

    </header></br>
    <p id="result" style="text-align:center;font-size:x-large;color:cornflowerblue">@ViewBag.result</p>
    <div class="row" style="display:flex;flex">
        <div class="col-sm-12">

            <div class="container-fluid col-sm-8" style="width:80%;float:left;">
                <div class="semi-container" >
                    <p style="text-align:left;font-size:x-large; padding-left:20px; color: rgba(0, 121, 161, .9);"> Create New Rule set</p>
                    <div class="row flex-column">
                        <form method="post" autocomplete="off">
                            <div class="col-sm-12 col-padd">

                                <div class="form-group row form-scale">

                                    <div class="col-sm-4 pol">
                                        <!-- head part -->
                                        <label for="colFormLabelSm"
                                               class="col-sm-12 col-form-label col-form-label-sm " style="font-size:large">Division</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                @*<input type="text" class="form-control" name="div">*@
                                                @Html.DropDownList("divisions", (IEnumerable<SelectListItem>)ViewData["divisions"], "Select division",new { style="width:100%;font-size:large" })
                                            </div>
                                        </div>
                                    </div>

                                    <!-- head part end -->



                                    <div class="col-sm-4 pol">
                                        <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm " style="font-size:large">
                                            Business
                                            Unit
                                        </label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                @*<input type="text" class="form-control" name="bu">*@
                                                @Html.DropDownList("Bu", (IEnumerable<SelectListItem>)ViewData["Bu"], "Select Business unit", new { style = "width:100%;font-size:large" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-4 pol">
                                        <label for="colFormLabelSm"
                                               class="col-sm-12 col-form-label col-form-label-sm " style="font-size:large">
                                            Attribute
                                            Name
                                        </label>
                                        <div class="form-group">
                                            <div class=" input-group">
                                                <input type="text" class="form-control" name="att">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 pol" id="val">
                                        <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm " style="font-size:large">Value</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="val" placeholder="ex: 10000, 0.2% or text value">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 pol" id="score">
                                        <label for="colFormLabelSm"
                                               class="col-sm-12 col-form-label col-form-label-sm " style="font-size:large">Score</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="rating" placeholder="ex: 1, 2, 3, 4 or 5">
                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" onclick="_add()" class="btn btn-sh" style="font-size:large">Add Value</button>
                        </div>

                        <div class="input-group-lg">
                            <div class="input-group">
                                <button type="submit" class="btn btn-sh" style="font-size:large"> Create</button>
                             <span style="padding-left:30px"></span>   <button  type="reset" class="btn btn-sh" onclick="_remove()" style="font-size:large;"> Clear</button>
                                <span style="padding-left:30px"></span>   @Html.ActionLink("Add Policy", "addPolicy", "Poc",new {@class= "btn btn - sh" }, new { style = "font-size:x-large;padding-left:10px;" })

                            </div>

                        </div>

                        </form>




                    </div>

                </div>


            </div>
            <div class="container col-sm-4" style="vertical-align:top;float:right; padding-top:30px;">
              <table align="center" width="50%">
                  <tr>
                      <th colspan="1">Rating</th>
                      <th colspan="1">Score</th>
                  </tr>
                  <tr>
                      <td>Very poor</td>
                      <td>1</td>
                  </tr>
                  <tr>
                      <td>Poor</td>
                      <td>2</td>
                  </tr>
                  <tr>
                      <td>Acceptable</td>
                      <td>3</td>
                  </tr>
                  <tr>
                      <td>Good</td>
                      <td>4</td>
                  </tr>
                  <tr>
                      <td>Very Good</td>
                      <td>5</td>
                  </tr>
              </table>
            </div>

        </div>
    </div>
</body>

</html>