﻿@model PocWebApplication.Models.Policy

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/corev15.css">
    

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function _remove() {
            document.getElementById("result").textContent = "";
            document.getElementById("sresult").textContent = "";
        }

    </script>

</head>

<body>
  

    <header class="panel1" id="hder">

        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <img src="~/img/logo1.svg" class="img-resposnive" alt="logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="heading-part">
                        <h1 style="font-size:xx-large;">Policy Administration System</h1>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="logo1">
            <img src="./img/logo-2.jpg" class="img-resposnive" alt="logo">
        </div> -->
        <!-- <div class="logo">
            <img src="./img/logo.svg" class="img-resposnive" alt="logo">
        </div> -->

    </header></br>
  
        <p  id="result" style="text-align:center;font-size:large;color:cornflowerblue">@ViewBag.result</p>
        <p id="sresult" style="text-align:center;font-size:large;color:cornflowerblue">@ViewBag.Smsg</p>

   
    <div class="container-fluid">
        <div class="semi-container">
            <div class="row">
                <form method="post" autocomplete="off" >
                    <div class="col-sm-12 col-padd">
                        <div class="form-group row form-scale" >
                            
                            <div class="col-sm-3 pol">
                                <!-- head part -->
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm">Division</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_division" >
                                    </div>
                                </div>
                            </div>

                            <!-- head part end -->



                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
                                    Business
                                    Unit
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_businessUnit">
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm">
                                    UnderWriter
                                    Name
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_underWriteName" >
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol" >
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm" >
                                    U/W
                                    Reference
                                </label>
                                <div class="form-group" >
                                    <div class="input-group">
                                        <input  type="text" class="form-control" name="_u_wReference">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
                                    Broker
                                    Code
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_brokerCode">
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm ">Assured</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_assured">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
                                    Written
                                    Date
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_writtenDate">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
                                    Period
                                    From
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_periodFrom" >
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">
                                    Period
                                    To
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_periodTo">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm ">
                                    Territory
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Territory">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm ">
                                    Limit
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Limit">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-3 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm">Excess</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Excess">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm">Order (%)</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Order">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm" >Deductions (%)</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Deductions">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm">Interest</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Interest">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm">
                                    Premium
                                    RTBL (%)
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Premium_RTBL">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm" >
                                    Claims
                                    RTBL (%)
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Claims_RTBL" >
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm ">
                                    Deduction
                                    Change (%)
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Deduction_Change">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm" class="col-sm-12 col-form-label col-form-label-sm " >
                                    Overall
                                    RTBL (%)
                                </label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Overall_RTBL" >
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm " >Exposures</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Exposures">
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm ">Status</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_status" >
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm ">Limit Deductible RTBL (%)</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_Limit_Deductible_RTBL" >
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 pol">
                                <label for="colFormLabelSm"
                                       class="col-sm-12 col-form-label col-form-label-sm " >Written Line (%)</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="_WrittenLine" >
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                </div>

                <div class="input-group-lg">
                    <div class="input-group">
                        <button type="submit" class="btn btn-sh" >Create</button>
                        <button type="reset" class="btn btn-sh" onclick="_remove()">Clear</button>
                        @Html.ActionLink("Add New Rule", "addNewRule", "Poc", new {@class= "btn btn - sh"})
                    </div>
                   
                </div>
                </form>
            </div>

        </div>
    </div>

</body>

</html>