body {
    overflow-y: scroll !important;
}

.panel1 {
    background: url("../img/banner.jpg");
    background-size: cover;
    height: 240px;
    background-repeat: no-repeat;

}

.logo1 img {
    width: 100px;
    height: 90px;
    float: left;
}
.logo{
    padding: 50px 20px
}
.logo img {
    height: 60px;
    color: #fff;
    /* background: #fff; */
    float: right;
    width: 250px;
    padding: 10px;
    position:relative;
   

}
.heading-part h1 {
    color: #fff;
    font-weight: 900;
    padding: 20px 30px 30px;
}

.heading-part hr {
    border-width: 0px;
    border-top: 2px solid #c6c6c6;
}
.semi-container {
    margin: 40px 0px;
}

.semi-container h1 {
    color: #0079a1;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 20px;

}

.semi-container p {
    padding: 20px 0px;
    font-size: 16px;
}

.semi-container {
    /* border: 2px solid; */
    background: #F2F8FA;
    color: #000;
    padding: 20px;
}

.semi-container .lop {
    padding: 20px 15px;
    border-bottom: 1px solid #fff;
}

.pol {
    border: 2px solid #F2F8FA;
}
.semi-container .pol {
    padding: 10px 5px;
    border-bottom: 1px solid #dee2e6;
    max-height: 90px;
}

.lop {
    background: rgba(0, 121, 161, .9);
    color: #fff;
    /*  */
}

.pol {
    background: #fff;
}

.col-padd {
    padding: 0px 25px;
}

.rtbln {
    min-height: 200px !important;
    border: none !important;
}

.pol:last-child {
    border: none !important;
}

.sign-panel {
    background: #fff;
    width: 220px;
    min-height: 130px;
    margin: 30px;
}

.panel1.fixed-bar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #6486c2;
    z-index: 9999;
}

.br-none {
    border: none !important;
}

.rating {
    color: #007bff;
    font-weight: 600;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border-top: none;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

input[type=password]:hover,
input[type=text]:hover,
input[type=file]:hover,
input:not([type]):hover,
textarea:hover,
.sp-peoplepicker-topLevel:hover,
.ms-inputBox:hover {
    /* border-color: #fff; */
    box-shadow: none;
}

input[type=text]:focus {
    box-shadow: none;
}

.btn-sh {
    background: rgba(0, 121, 161, .9);
    color: #fff;
    border-radius: 0 !important;
}

.btn-sh:hover {
    background: #17a2b8 !important;
    color: #fff;
}

.form-scale {
    margin: 20px 0px;
}

a:visited {
    color: #007bff !important;
    text-decoration: none;
}

.col-padd label {
    color: rgba(0, 121, 161, .9) !important;
    font-weight: 500;
}
.col0 button.btn.btn-sh {
    float: right;
}

